.packege-main {
  margin-top: 74rem;
}

.layer {
  position: absolute;
  left: 140px;
  top: 426px;
  z-index: -1 !important;
}

.layer img {
  position: absolute;
  top: 0%;
  bottom: 0%;
}

.packege-heading h1 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;

  text-align: center;

  color: #3a3a3a;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.packege-heading p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  text-align: center;

  color: #5a5a5a;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.frame-pack {
  position: absolute;
  width: 1518px;
  height: 78px;
  top: 0;
}

.frame1 {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 62px;

  position: absolute;
  width: 249px;
  height: 78px;
  left: calc(50% - 249px / 2 - 488.5px);
  top: 1326px;

  background: #3282ad;
  border: 2px solid #3a3a3a;
  border-radius: 5px 0px 0px 5px;
}

.frame1 span {
  width: 89px;
  height: 27px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame2 {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 62px;

  position: absolute;
  width: 256px;
  height: 78px;
  left: calc(50% - 256px / 2 - 236px);
  top: 1326px;

  /* line */

  border: 2px solid #a2a8ab;
  border-radius: 0px;
}

.frame2 span {
  width: 110px;
  height: 27px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  /* primary-color */

  color: #3282ad;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame3 {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 62px;

  position: absolute;
  width: 256px;
  height: 78px;
  left: calc(50% - 256px / 2 + 18px);
  top: 1326px;

  /* line */

  border: 2px solid #a2a8ab;
  border-radius: 0px;
}

.frame3 span {
  width: 132px;
  height: 27px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  /* primary-color */

  color: #3282ad;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}

.frame4 {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px 62px;

  position: absolute;
  width: 250px;
  height: 78px;
  left: calc(50% - 250px / 2 + 269px);
  top: 1326px;

  /* line */

  border: 2px solid #a2a8ab;
  border-radius: 0px;
}

.frame4 span {
  width: 126px;
  height: 27px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  /* primary-color */

  color: #3282ad;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}

.frame5 {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px 62px;

  position: absolute;
  width: 220.56px;
  height: 77.66px;
  left: calc(50% - 220.56px / 2 + 502.72px);
  top: 1326px;

  /* line */

  border: 2px solid #a2a8ab;
  border-radius: 0px 5px 5px 0px;
}

.frame5 span {
  width: 96.56px;
  height: 27px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  /* primary-color */

  color: #3282ad;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}

.packege-card {
  margin: 20px;
}

.pkg1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  isolation: isolate;

  position: absolute;
  width: 390px;
  height: 400px;
  left: 145px;
  top: 1492px;
  filter: drop-shadow(0px 4px 25px rgba(50, 130, 173, 0.15));
  border-radius: 8px;
}

.pkg1 img {
  width: 392px;
  height: 300px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  z-index: 0;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

.pkg2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  isolation: isolate;

  position: absolute;
  width: 390px;
  height: 400px;
  left: 562px;
  top: 1492px;

  filter: drop-shadow(0px 4px 25px rgba(50, 130, 173, 0.15));
  border-radius: 8px;
}

.pkg2 img {
  width: 392px;
  height: 300px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  z-index: 0;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

.pkg3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  isolation: isolate;

  position: absolute;
  width: 393px;
  height: 400px;
  left: 980px;
  top: 1492px;

  filter: drop-shadow(0px 4px 25px rgba(50, 130, 173, 0.15));
  border-radius: 8px;
}

.pkg3 img {
  width: 392px;
  height: 300px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  z-index: 0;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

.content-packege {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 24px;
  isolation: isolate;

  width: 360px;
  height: 190px;

  background: #ffffff;

  border-bottom-right-radius: 3%;
  border-bottom-left-radius: 3%;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  z-index: 1;
}

.packege-header1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 266px;
  height: 73px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}
.packege-header1 p {
  width: 350px;
  text-align: left;
}

.packege-header2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 266px;
  height: 73px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}
.packege-header2 p {
  width: 350px;
  text-align: left;
}

.packege-header3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 266px;
  height: 73px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}

.packege-header3 p {
  width: 350px;
  text-align: left;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  position: absolute;
  width: 50.81px;
  height: 19.24px;
  right: 16.19px;
  top: 342px;

  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}

.rs1 {
  position: absolute;
  width: 60.12px;
  height: 28.86px;
  left: 313px;
  top: 16px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  z-index: 2;
}

.rupee1 {
  position: absolute;
  width: 60px;
  height: 28.86px;
  right: 16.88px;
  top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffffff;
  border-radius: 27px;
}

.rupee1 span {
  position: absolute;
  width: 36.87px;
  height: 21.64px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;

  /* primary-color */

  color: #3282ad;
}

.bookbutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 363px;
  height: 160px;

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  z-index: 2;
}

.booknow {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 4px 32px;
  gap: 10px;

  width: 100px;
  height: 35px;

  background: #3282ad;
  border-radius: 4px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.booknow span {
  width: 99px;
  height: 27px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.dots {
  position: absolute;
  width: 144px;
  height: 32px;
  left: 681px;
  top: 2040px;
}

.dot1 {
  box-sizing: border-box;

  position: absolute;
  left: 77.78%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  border-radius: 50%;

  border: 1px solid #3282ad;
}
.dot2 {
  position: absolute;
  left: 38.89%;
  right: 38.89%;
  top: 0%;
  bottom: 0%;
  border-radius: 50%;

  background: #3282ad;
}
.dot3 {
  box-sizing: border-box;

  position: absolute;
  left: 0%;
  right: 77.78%;
  top: 0%;
  bottom: 0%;
  border-radius: 50%;

  border: 1px solid #3282ad;
}

.discover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;

  position: absolute;
  left: calc(50% - 185px / 2);
  top: 2136px;

  /* primary-color */

  border: 1px solid #3282ad;
  border-radius: 5px;
}

.discover span {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  text-align: center;

  color: #3282ad;

  flex: none;
  order: 0;
  flex-grow: 0;
}
