.island-main {
  margin-top: 65rem;
}

.island-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;

  position: absolute;
  height: 104px;
  left: 9.52%;
  right: 9.48%;
  top: 2278px;
}

.island-header h2 {
  width: 1224.46px;
  height: 15px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;

  text-align: center;

  color: #3a3a3a;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.island-header p {
  width: 1106.46px;
  height: 44px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;

  color: #5a5a5a;

  flex: none;
  order: 1;
  align-self: center;
  flex-grow: 0;
}

.island-card {
  display: flex;
}

.island-frame1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  height: 691px;
  width: 81%;
  left: 130px;
  top: 2446px;
  flex-wrap: wrap;
}

.island-frame1 img {
  width: 392px;
  height: 408px;
  border-radius: 8px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.island-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  isolation: isolate;

  width: 392px;
  height: 240px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.head-name {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;

  width: 101px;
  height: 44px;

  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}

.head-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 8px;
  gap: 10px;

  width: 320px;
  height: 38px;
  text-align: left;
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}

.rating-island {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8px;

  width: 376px;
  height: 90px;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  z-index: 2;
}

.island-star {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 0px;
  gap: 8px;

  left: 8px;
  bottom: 19.54px;

  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
  z-index: 3;
}

.explore {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;

  width: 95px;
  height: 20px;

  background: #3282ad;
  border-radius: 5px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.explore span {
  width: 89px;
  height: 17px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  text-transform: capitalize;

  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.contact-area {
  position: absolute;
  width: 1227px;
  height: 261px;
  left: 70px;
}

.contact-area img {
  position: absolute;
  height: 220px;
  left: 638px;
  right: 275px;

  mix-blend-mode: multiply;
  opacity: 0.5;
}

.frame-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 32px;
  isolation: isolate;

  position: absolute;
  height: 200\px;
  width: 100%;
  left: 30px;
  right: 69px;
  top: 1500px;

  background: #42a7c3;
  opacity: 0.9;
  border-radius: 15px;
}

.frame-content h3 {
  width: 451px;
  height: 40px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 50px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}

.frame-content p {
  width: 513px;
  height: 45px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;

  color: #ffffff;

  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}

.contact_us-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 10px;

  position: absolute;
  width: 183px;
  height: 50px;
  right: 32px;
  top: 106px;

  flex: none;
  order: 2;
  flex-grow: 0;
  z-index: 2;
}

.contact-box {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 36px;
  gap: 10px;

  width: 100px;
  height: 20px;

  background: #ffffff;
  border-radius: 8px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.contact-box span {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;

  color: #000000;

  flex: none;
}
